html,
body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol,
ul { list-style: none }
q:before,
q:after,
blockquote:before,
blockquote:after { content: "" }
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus { outline: 0 }
a:hover,
a:active { outline: 0 }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block }
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) { display: none }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
    *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
textarea {
    overflow: auto;
    vertical-align: top;
}
html {
    min-height: 100%;
    position: relative;
}
html,
body {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: normal;
    line-height: 18px;
}
.background {
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header {
    padding: 10px;
    text-align: right;
    position: relative;
}
.view {
    margin: 30px auto;
    width: 430px;
}
a { text-decoration: none }
.center { text-align: center }
.clear { clear: both }
input,
textarea,
select { -webkit-font-smoothing: antialiased }
input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box-box;
}
.form-stacked { padding-left: 0 }
.form-stacked label { padding-bottom: 4px }
form span.error {
    color: #c00;
    margin-left: 150px;
    display: block;
    padding: 6px 0 3px;
}
.input ul { list-style: none }
.no-animation {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
}


.field-set { margin-bottom: 40px }
.field-set .field {
    clear: both;
    margin-bottom: 5px;
    position: relative;
}
.field-set .field label {
    clear: left;
    float: left;
    padding-top: 7px;
    width: 140px;
}
.field-set .field .input-text,
.field-set .field .input-password,
.field-set .field textarea,
.field-set .field select { width: 260px }
.field-set .field .error { margin-left: 140px }
.field-set .field-checkbox { padding: 7px 0 0 25px }
.field-set .field-checkbox label { float: none }
.field-set .field-checkbox .input-checkbox {
    position: absolute;
    top: 9px;
    left: 0;
}
label a {
    color: #84b9d3;
    float: right;
}
.field-set-stacked .field label {
    color: #9e9e9e;
    clear: both;
    display: block;
    font-size: 85%;
    float: none;
    margin: 0 0 7px 0;
    width: auto;
}
.field-set-stacked .field .error { margin-left: 0 }
.input-text,
.input-password,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
    font: 13px "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 5px 7px;
    resize: none;
}
.input-text:focus,
.input-password:focus,
textarea:focus,
select:focus {
    border-color: rgba(132,185,211,0.8)!important;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(132,185,211,0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(132,185,211,0.6);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(132,185,211,0.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(132,185,211,0.6);
    outline: 0;
}
.input-text.large,
.input-password.large,
textarea.large,
select.large {
    font-size: 15px;
    padding: 7px 8px;
}

body { line-height: 100% }
.view-pages {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 30px;
    width: 650px;
}
.view-pages .content {
    color: #4f4f4f;
    float: left;
    font-size: 116%;
    padding: 0px 0 40px;
    width: 500px;
}
.view-pages .content a {
    border-bottom: 1px solid #F39C12;
    color: #E67E22;
    text-decoration: none;
}
.view-pages .content a:hover { border-color: #E67E22 }
.view-pages .content strong,
.view-pages .content strong a { font-weight: bold }
.view-pages .content em { font-style: italic }
.view-pages .content h1 {
    color: #292929;
    font-size: 27px;
    font-weight: 300;
    line-height: 1.15;
    margin-bottom: 1em;
}
.view-pages .content hr {
    background: #e8e8e8;
    border: 0;
    height: 1px;
    margin: 25px -100px 25px 0;
}
.view-pages .content h2 {
    font-size: 125%;
    font-weight: bold;
    margin: 2em 0 1em;
    line-height: 1.3;
}
.view-pages .content h3 {
    font-weight: bold;
    margin: 1.5em 0 1em;
    line-height: 1.3;
}
.view-pages .content p {
    line-height: 1.466;
    margin-bottom: 1em;
}
.view-pages .content .bullet-list {
    margin-left: 1.5em;
    list-style-type: disc;
}
.view-pages .content .bullet-list li {
    line-height: 1.466;
    padding-left: .5em;
    margin-bottom: 1em;
}
.view-pages .secondary-menu { padding: 0 0 20px 150px }
.view-pages .secondary-menu ul { text-align: center }
.view-pages .secondary-menu li { display: inline-block }
.view-pages .secondary-menu a {
    color: #999;
    display: block;
    padding: 3px 7px;
}
@media all and (max-width:900px) { 
  .view-pages .content hr { margin-right: 0 }
}
@media all and (max-width:600px) { 
  .view-pages { width: auto }
  .view-pages .content {
      padding-top: 0;
      float: none;
      width: auto;
  }
  .view-pages .secondary-menu { padding-left: 0 }
}

.pages_banner {
  background-color: #fe7100;
  margin-bottom: 50px;
}

.pages_menu {
    float: left;
    padding-top: 0px;
    position: relative;
    width: 150px;
}

.logo {
    background: url('../img/challenge-logo.png') no-repeat 0 0;
    display: block;
    text-indent: -999em;
    width: 170px;
    height: 88px;
}
.logo:active {
    position: relative;
    top: 1px;
}
.pages_menu .page-set { width: 84px }
.pages_menu .page-set .page { border-bottom: 1px solid #eff4f6 }
.pages_menu .page-set .page.selected {
    background: #fff;
    border-color: #fff;
    position: relative;
    top: -1px;
    margin: 0;
}
.pages_menu .page-set .page.selected a {
    background: #414141;
    border-top: 1px solid #fff;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.pages_menu .page-set .page:last-child { border: 0 }
.pages_menu .page-set a {
    font-weight: bold;
    display: block;
    color: #69aaca;
    padding: 6px 10px 8px;
    position: relative;
    text-decoration: none;
}
.pages_menu .page-set a:hover { color: #337a9d }
.pages_menu .copyright {
    font: 9px "Lucida Grande","Lucida Sans",Tahoma,Arial,sans-serif;
    margin-top: 25px;
    color: #aeaeae;
    margin-left: 10px;
}
@media all and (max-width:600px) { 
  .pages_menu {
      float: none;
      padding: 30px 0;
      width: auto;
  }
  .logo { margin: 0 auto 35px }
  .pages_menu .page-set {
      margin: 0 -10px;
      text-align: center;
      width: auto;
  }
  .pages_menu .page-set .page {
      border: 0;
      display: inline-block;
      margin: 0 5px;
      position: static;
  }
  .pages_menu .page-set a {
      padding: 6px 4px 8px;
      position: static;
  }
  .pages_menu .copyright { display: none }
}
@media only screen and (-webkit-min-device-pixel-ratio:2) { 
  .logo {
      background-image: url('../img/challenge-logo@2x.png');
      background-size: cover;
  }
}
.no-animation {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
}

.no-animation {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
}

.clearfix { zoom: 1 }
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both }